/*GLOBAL RULES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "futura medium", sans-serif;
}

:root {
  /*Colours*/
  --turquoise: #00BDB2;
  --dark-grey: #4a4a4a;
  --light-grey: #F5F4F4;
  --white: #FFFFFF;
  --brown: #aea495;
}

/* STYLING TIL INDEX-SIDE (MOBIL) */
#frontpageheader {
  background-image: url(../images/mob.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

.ul-nav {
  display: none;
}

#logo-white {
  width: 90px;
  padding: 20px;
  display: block;
}

#logo-grey {
  display: none;
}

h1, h2, h3, h4 {
  color: var(--dark-grey);
  font-family: 'futura', sans-serif;
}

.headline1 {
  font-size: 45px;
  color: var(--white);
  padding: 120px 0 0 50px;
  -webkit-animation: fadein 3s;
  font-weight: bold;
}

.headline2 {
  font-size: 15px;
  color: var(--white);
  font-style: italic;
  margin-left: 55px;
  font-weight: lighter;
  -webkit-animation: fadein2 6s;
}

/* COLLAPSIBLE MENU (MOBIL) */
.collapsible {
  background-color: #F5F4F4;
  color: #4a4a4a;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
  height: 12.5vh;
  border: 1px solid white;
  font-weight: bolder;
}

.collapsible:after {
  content: '\002B';
  color: #00BDB2;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active {
  background-color: #00BDB2;
  color: white;
}

.active:after {
  content: "\2212";
  color: #FFFFFF;
  z-index: 1;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #ffffff;
  color: var(--dark-grey);
}

.content h4 {
  color: var(--dark-grey);
}

/* STYLING AF "ÅBNINGSTIDER" I COLLAPSIBLE */
.timetable {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.h3-timetable {
  text-align: center;
}

#timetable-bottom {
  margin-bottom: 20px;
}

.time {
  text-align: right;
}

/* STYLING AF BILLEDER I "AKTIVITETER" OG "SPISESTEDER" I COLLAPSIBLE */
.content-images {
  width: 100%;
  height: 30vh;
}

/* STYLING AF CONTENT I "AKTIVITETER" OG "SPISESTEDER" I COLLAPSIBLE */
.content-section {
  margin: 20px 0px;
  line-height: 1.5em;
}

.flex-container {
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}

.flex-img {
  width: 100%;
  z-index: 1;
}

.flex-text {
  width: 100%;
  color: var(--dark-grey);
  position: absolute;
  z-index: 2;
}

.flex-text h3 {
  text-align: center;
  padding-top: 10px;
}

.flex-text p {
  padding: 10px 15px;
}

/* STYLING AF LINKS I "AKTIVITETER" I COLLAPSIBLE */
.links-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.links-container>a img {
  width: 30px;
  margin: 5px 3px;
}

/* STYLING AF LINKS I "SPISESTEDER" I COLLAPSIBLE */
.facebook-links {
  width: 50%;
  margin: 20px auto;
  background-color: var(--white);
  border: 1px solid var(--turquoise);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.facebook-links:hover {
  background-color: var(--turquoise);
}

.facebook-links>.facebook-letter-white {
  display: none;
}

.facebook-links:hover>.facebook-letter-white {
  display: block;
}

.facebook-links:hover>.facebook-letter-blue {
  display: none;
}

.facebook-links>a {
  text-decoration: none;
  color: var(--turquoise);
  margin: 0 auto;
}

.facebook-links:hover>a {
  color: var(--white);
}

.facebook-letter-blue {
  width: 15%;
  padding: 7px;
}

.facebook-letter-white {
  width: 15%;
  padding: 7px;
}

/* STYLING AF "HAVNEBAD" OG "INFO" I COLLAPSIBLE */
.info-heading1 {
  display: none;
}

.info-heading2 {
  color: var(--dark-grey);
  padding: 7px 0px;
}

.info-list {
  padding-left: 15px;
}

/* STYLING AF TABEL I "HAVNEBAD" I COLLAPSIBLE*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0px;
}

td, th {
  border: 1px solid var(--turquoise);
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--turquoise);
  color: var(--white);
}

/* STYLING AF FOOTER */
footer {
  text-align: center;
  padding: 0px 20px 20px 20px;
  background-color: var(--dark-grey);
  color: var(--white);
  line-height: 1.5em;
}

footer>h4 {
  text-align: left;
}

.havnebadfooter {
  padding: 0px 55px;
}

.cafefooter {
  padding: 0px 55px;
}

.havnebadfooter>h3 {
  padding: 40px 0px 15px 0px;
  color: var(--white);
}

.havnebadfooter>h4 {
  padding: 15px 0px 10px 0px;
  color: var(--white);
}

.cafefooter>h3 {
  padding: 40px 0px 15px 0px;
  color: var(--white);
}

.cafefooter>h4 {
  padding: 15px 0px 10px 0px;
  color: var(--white);
}

.kontakt>h3 {
  padding: 40px 0px 15px 0px;
  color: var(--white);
}

.timetable {
  padding-bottom: 20px;
}

.somecontainer {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  text-align: center;
}

.somecontainer>h3 {
  padding: 40px 0px 15px 0px;
  color: var(--white);
}

.icon1 {
  width: 15%;
  padding: 5px;
  fill: var(--white);
}

.icon2 {
  width: 15%;
  padding: 5px;
  fill: var(--white);
}

.icon1:hover {
  fill: var(--turquoise);
}

.icon2:hover {
  fill: var(--turquoise);
}

/* DISPLAY NONE PÅ MOBIL*/
.promenade {
  display: none;
}

.webcontainer1 {
  display: none;
}

.frontpageweb {
  display: none;
}

/* KEYFRAMES */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* MEDIA QUERRIES FOR TABLET */
@media screen and (min-width: 600px) {
  #frontpageheader {
    background-image: url(../images/mob.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
  }

  .frontpageweb {
    display: block;
  }

  #navbar-web {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    align-items: center;
    height: 8vh;
  }

  .ul-nav {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
  }

  .li-nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
    text-align: center;
  }

  a:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 3px;
    bottom: 10px;
    left: 5px;
    background-color: var(--turquoise);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .nav-colored {
    background-color: var(--light-grey);
    transition: 0.5s;
    z-index: 2;
  }

  .nav-colored .li-nav a {
    color: var(--dark-grey);
  }

  #logo-white {
    padding: 25px;
  }

  .nav-colored #logo-white {
    display: none;
  }

  .nav-colored #logo-grey {
    display: block;
    width: 90px;
    padding: 25px;
    float: left;
  }

  /* STYLING AF TABLET-FORSIDE */
  .collapsible {
    display: none;
  }

  .webcontainer1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 32%;
  }

  .webcontainer1-img {
    display: block;
    width: 60%;
  }

  .content-section1 {
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }

  .webcontainer-headline {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .aabningswrapper {
    display: flex;
  }

  .aabningstiderhavnebad {
    width: 50%;
    padding: 10px;
  }

  .aabningstidercafe {
    width: 50%;
    padding: 10px;
  }

  .webcontainer1>.aabningstiderhavnebad {
    width: 50%;
    color: var(--dark-grey);
  }

  .webcontainer1>.aabningstiderhavnebad>h3 {
    color: var(--dark-grey);
    padding-bottom: 15px;
  }

  .webcontainer1>.aabningstiderhavnebad>h4 {
    color: var(--dark-grey);
  }

  .webcontainer1>.aabningstidercafe {
    width: 50%;
  }

  .webcontainer1>.aabningstidercafe>h3 {
    color: var(--dark-grey);
    padding-bottom: 15px;
  }

  .webcontainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--light-grey);
  }

  .webcontainer2-h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
  }

  .webcontainer2-content {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .content-images {
    width: 100%;
    height: 100%;
  }

  .webcontainer2-section {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 10px;
  }

  /* STYLING AF SPISESTEDER PÅ FORSIDE WEB */
  .webcontainer3 {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
  }

  .webcontainer3-h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
  }

  .content-images {
    width: 100%;
    height: auto;
  }

  .webcontainer3-section {
    width: 30%;
    box-shadow: 0 8px 6px -6px var(--dark-grey);
    padding-bottom: 15px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .flex-text3 {
    width: 100%;
    height: 70%;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
  }

  .flex-text3>h3 {
    padding: 15px 0px;
    text-align: center;
  }

  .activities-text {
    padding: 30px 0px 0px 0px;
    line-height: 1.5em;
  }

  .facebook-letter-blue {
    padding: 5px;
  }

  .facebook-letter-white {
    padding: 5px;
  }

  /*
  .line {
    display: block;
    position: relative;
    width: 30px;
    border: 1px solid var(--turquoise);
    margin: 0 auto;
    animation: 2s tryhard ease;
  }

  @keyframes tryhard {
    0% {
      width: 0;
    }

    100% {
      width: 30px;
    }
  }
*/
  /* STYLING AF FOOTER (TABLET) */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 14px;
  }

  .havnebadfooter {
    width: 25%;
    text-align: left;
    padding: 0px;
  }

  .cafefooter {
    width: 25%;
    text-align: left;
    padding: 0px;
  }

  .kontakt {
    width: 25%;
    text-align: left;
    padding: 0px;
  }

  .timetable {
    width: 100%;
  }

  .time {
    width: 50%;
  }

  .day {
    width: 50%;
  }

  .somecontainer {
    text-align: left;
  }

  /* STYLING AF INFO.HTML */
  #subpageheader {
    background-image: url(../images/mob.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
  }

  .info-article {
    width: 70vw;
    margin: 0 auto;
    background-color: var(--light-grey);
    padding: 2%;
    color: var(--dark-grey);
    font-family: "futura medium", sans-serif;
  }

  #infokort-img {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    animation-name: fademap;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  @keyframes fademap {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

/* MEDIA QUERRIES FOR WEB */
@media screen and (min-width: 900px) {
  #frontpageheader {
    background-image: url(../images/background-web.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .flex-text3 {
    height: auto;
  }

  .activities-text {
    padding-bottom: 25px;
  }

  footer {
    padding: 20px 60px;
    justify-content: space-evenly;
  }

  .timetable {
    width: 70%;
  }

  /* STYLING AF HAVNEBAD.HTML TIL WEB */
}

/* STYLING AF INFO.HTML TIL  */